$teal: #0891b2;
$grey: #565656;

@mixin card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("./assets/font/playfairdisplay-regular-webfont.woff2") format("woff2"),
    url("./assets/font/playfairdisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/font/roboto-regular-webfont.woff2") format("woff2"),
    url("./assets/font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body,
.about {
  background-color: #fff;
}

main,
header,
.footer-text {
  padding: 22px 18px;
}

header {
  position: relative;
  padding-bottom: 0 !important;

  &::before {
    content: "";
    background: linear-gradient(150deg, $teal 50%, #fff 50%);
    position: absolute;
    inset: 0;
    bottom: 200px;
    z-index: -1;
  }
}

main {
  padding-top: 60px;
  padding-bottom: 60px;

  p {
    color: $grey;
  }
}

.profile {
  background: url("./assets/img/profile.webp") center / cover;
  min-height: 425px;
  display: flex;
  align-items: flex-end;
  margin: auto 10px 32px;
  @include card;
}

.profile {
  color: #fff;
}

h1 {
  font-size: 2.83rem;
  padding: 7px 11px;
}

h2 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 22px;

  img {
    width: 30px;
  }

  &.large img {
    width: 40px;
  }
}

.about > * {
  margin-bottom: 12px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.project-card {
  @include card;
}

.project-image-frame,
.footer-image-frame {
  max-width: 100%;

  img {
    display: block;
    width: 100%;
    min-height: 250px;
    object-fit: cover;
  }
}

.project-details {
  padding: 16px;
  min-height: 200px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  a:first-child {
    margin-right: 15px;
  }

  img {
    width: 20px;
  }
}

footer {
  background: $teal;
}

.icon {
  width: 18px;
  display: none;
}

.footer-text {
  padding-bottom: 72px;
}

.contact-text > * {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  main,
  header,
  footer {
    padding: 40px 32px;
  }

  header::before {
    bottom: 0;
  }

  h2 {
    text-align: left;
  }

  .profile {
    float: left;
    max-width: 350px;
    margin: 0px 18px 18px 0;
    align-items: flex-start;

    h1 {
      position: relative;
      left: 350px;
      color: #000;
    }
  }

  .about {
    @include card;
    padding: 80px 20px;
    margin: auto 46px;
    margin-top: 144px;

    h2 {
      text-align: center;
    }

    .links {
      display: none;
    }
  }

  main {
    padding-top: 60px 32px;
  }

  .projects {
    padding: 0 46px 0;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    row-gap: 55px;
  }

  footer {
    display: flex;
    gap: 32px;
    justify-content: space-between;

    & > div {
      flex: 1;
    }
  }

  .icon {
    display: inline;
    margin-right: 10px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .footer-image-frame {
    max-width: 520px;

    img {
      height: 100%;
    }
  }

  .links {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  header {
    display: flex;
    padding: 40px 60px 0;

    &::before {
      background: linear-gradient(160deg, $teal 70%, #fff 30%);
    }
  }

  .about,
  .profile {
    margin: 0;
    flex: 1;
  }

  .profile {
    float: none;
    align-items: flex-end;
    max-width: 400px;

    h1 {
      position: static;
      color: #fff;
    }
  }

  .about {
    margin: 42px 0;
    padding: 25px 35px;

    & > * {
      margin-bottom: 30px;
    }

    h2 {
      text-align: left;
    }

    .links {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }

  main {
    padding: 80px 60px;

    .projects {
      padding: 0;
    }
  }

  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    justify-content: center;
  }

  .footer-text {
    justify-content: flex-start;
    max-width: 520px;
  }
}
